@tailwind base;
body{
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 5rem;
    @apply flex flex-col justify-between gap-4
}
@tailwind components;
@tailwind utilities;


footer a{
    @apply hover:text-accent-500
}
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}

