@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    max-width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
}
footer a{
    @apply hover:text-accent-500
}
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-appearance: textfield;
}
